<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    cacheResult="false"
>
    <testsuites>
        <testsuite name="Green Locale">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
